:root {
  --black: #111;
  --gray1: #1c1c1c;
  --gray2: #2c2c2c;
  --gray3: #3c3c3c;
  --gray4: #4c4c4c;
  --gray6: #6c6c6c;
  --gray8: #8c8c8c;
  --white: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace !important;
  font-size: 95%;
}

html,
body {
  height: 100%;
  background: var(--black);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 2px !important;
  padding: 4px 8px;
}

button:hover {
  background-color: var(--gray4);
  cursor: pointer;
}

button:disabled {
  opacity: 0.8;
  filter: contrast(0.5);
}

button:disabled:hover {
  cursor: not-allowed;
  background-color: var(--black);
}

/* UTILITY CLASSES */

.collapse {
  width: 0 !important;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.h-center {
  justify-content: center;
}

.v-center {
  align-items: center;
}

.backdrop {
  padding: 10px;
  background-color: rgba(17, 17, 17, 0.75);
  border-radius: 2px;
  backdrop-filter: blur(20px);
}

.fade-in {
  animation: fadeIn 1s ease-in forwards !important;
}

.fade-out {
  animation: fadeOut 5s ease-in forwards;
  animation-delay: 55s;
}

.hide {
  display: none;
}

.dim {
  opacity: 0.5;
}

.above {
  z-index: 1;
}

.error {
  outline: 1px solid #eb4034 !important;
  border: 1px solid #eb4034;
}

/* ANIMATIONS */

@keyframes pulse {
  0% {
    opacity: 0.1;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.6);
  }
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
